#game-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}

.fruit {
    width: 100px;
    height: 100px;
    margin: 10px;
}

#score {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    opacity: 0;
}