body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

header {
    background-color: gray;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navigation-menu {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    transform: translateY(-5px);
}

main {
    max-width: 65vw;
    margin: 10px auto 0;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: black 1px solid;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

.profile-pic {
    height: 40vh;
    box-sizing: border-box;
    border-radius: 5px;
    border: black 1px solid;
    margin-right: 10px;
}

.bio {
    height: 40vh;
    box-sizing: border-box;
    border: black 1px solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    line-height: 1.5;
}

.spacer {
    height: 20vh;
}

.portfolio{
    justify-content: space-between;
    border: black 1px solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    line-height: 1.5;
}

.portfolio li a:hover {
    text-decoration: underline;
}

footer {
    background-color: gray;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.social-links-container {
    display: flex;
    justify-content: center;
}

.social-links-container img {
    margin: 0 10px;
    width: 30px;
    height: 30px;
}

.social-icon:hover {
    transform: scale(1.2);
}
